@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="code" name="代码" underline="true"/>
                            <#input id="name" name="名称" underline="true"/>
                            <#input id="abbr" name="简称" underline="true"/>
                            <#input id="isNon3pl" name="自有配送公司自有配送公司(0：3PL,1:自配送)" underline="true"/>
                            <#input id="contacter" name="联系人" underline="true"/>
                            <#input id="email" name="邮件" underline="true"/>
                            <#input id="telephone" name="电话" underline="true"/>
                            <#input id="address" name="地址" underline="true"/>
                            <#input id="domainId" name="平台ID" underline="true"/>
                            <#input id="companyId" name="公司ID" underline="true"/>
                            <#input id="isDeleted" name="是否删除" underline="true"/>
                            <#input id="remark" name="备注" underline="true"/>
                            <#input id="paymentService" name="支付服务支持" underline="true"/>
                            <#input id="deliveryFeature" name="支持配送属性" underline="true"/>
                            <#input id="createTime" name="创建时间" underline="true"/>
                            <#input id="createdBy" name="创建人姓名" underline="true"/>
                            <#input id="updateTime" name="最后修改时间" underline="true"/>
                            <#input id="updatedBy" name="修改人姓名" underline="true"/>
                            <#input id="printConfig" name="打印配置" underline="true"/>
                            <#input id="isWeight" name="是否需要称重" underline="true"/>
                            <#input id="dcZoneCode" name="环号/库区" underline="true"/>
                            <#input id="lineCode" name="滑道号/线路" underline="true"/>
                            <#input id="codeForBill" name="面单编号" underline="true"/>
                            <#input id="logSysCode" name="日志系统承运商代码" underline="true"/>
                            <#input id="type" name="类型" underline="true"/>
                            <#input id="shippingPeriod" name="发车时段" underline="true"/>
                            <#input id="website" name="网站" underline="true"/>
                            <#input id="isNeedPrint" name="是否打印面单"/>
                </div>

                <div class="col-sm-6">
                            <#input id="tenantId" name="" underline="true"/>
                            <#input id="appKey" name="配送商认证key" underline="true"/>
                            <#input id="appSecret" name="配送商认证密匙" underline="true"/>
                            <#input id="appToken" name="配送商认证token" underline="true"/>
                            <#input id="contentUrl" name="配送商认证URL" underline="true"/>
                            <#input id="backupUrl" name="配送商认证备份URL" underline="true"/>
                            <#input id="ext1" name="扩展字段1" underline="true"/>
                            <#input id="ext2" name="扩展字段2" underline="true"/>
                            <#input id="ext3" name="扩展字段3" underline="true"/>
                            <#input id="ext4" name="扩展字段4" underline="true"/>
                            <#input id="ext5" name="扩展字段5" underline="true"/>
                            <#input id="logisticsCompanyId" name="物流公司id" underline="true"/>
                            <#input id="warehouseId" name="仓库id" underline="true"/>
                            <#input id="logisticsCompanyCode" name="物流公司编码" underline="true"/>
                            <#input id="shopId" name="店铺" underline="true"/>
                            <#input id="productCodes" name="排除编码" underline="true"/>
                            <#input id="province" name="" underline="true"/>
                            <#input id="city" name="" underline="true"/>
                            <#input id="county" name="" underline="true"/>
                            <#input id="expressStationName" name="网点名称" underline="true"/>
                            <#input id="monthlyAccount" name="月结账号" underline="true"/>
                            <#input id="zipCode" name="邮编" underline="true"/>
                            <#input id="platformCode" name="" underline="true"/>
                            <#input id="carrierChargeType" name="快递计费方式1:按单计费;2:按箱计费" underline="true"/>
                            <#input id="isSyncWms" name="同步至WMS 0-未同步，1-已同步" underline="true"/>
                            <#input id="waybillType" name="" underline="true"/>
                            <#input id="isByCarton" name="是否按单交接" underline="true"/>
                            <#input id="mobile" name="手机" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MdCarrierInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MdCarrierInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/bussiness/mdCarrier/mdCarrier_info.js"></script>
@}
