//默认字体大小
$defaultFontSize: 12px;

//二级菜单块背景颜色
$subMenuBg: #1f2d3d;

//二级菜单悬浮选中颜色
$menuHover: #00c1de;

// 一级菜单字体
$firstMenuFontSize: 12px;

//二级菜单字体
$secondMenuFontSize: $defaultFontSize;

//一级菜单高度
$firstMenuItemHeight:46px;

//二级菜单高度
$secondMenuItemHeight:42px;







