@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>店铺管理</h5>
                <#FormSlideToggle searchFormId="searchForm"/>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div id="searchForm">
                            <div class="row">
                                <div class="col-sm-3">
                                    <#NameCon id="nameSearch" name="店铺名称" />
                                </div>
                                <div class="col-sm-3">
                                    <#NameCon id="platformNameSearch" name="平台名称" />
                                </div>
                                <div class="col-sm-3">
                                    <#SelectCon id="isDeletedSearch" name="是否启用" >
                                        <option value="">请选择</option>
                                        <option value="0">是</option>
                                        <option value="1">否</option>
                                    </#SelectCon>
                                </div>
                                <div class="col-sm-3">
                                    <#SelectCon id="isOnlineSearch" name="类型" >
                                        <option value="">请选择</option>
                                        <option value="1">线下</option>
                                        <option value="2">线上</option>
                                    </#SelectCon>
                                </div>
                                <div class="col-sm-3">
                                    <#SelectCon id="merchantIdSearch" name="商家" >
                                        <option value="">请选择</option>
                                            @for(mdMerchant in mdMerchantList){
                                                <option value="${mdMerchant.id}">${mdMerchant.merchantName}</option>
                                            @}
                                    </#SelectCon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;padding-top: 20px">
                                    <#button name="搜索" icon="fa-search" clickFun="Shop.search()"/>
                                    <#button name="重置" icon="fa-repeat" clickFun="Shop.reset()" space="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ShopTableToolbar" role="group">
                            @if(shiro.hasPermission("/shop/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Shop.openAddShop()"/>
                            @}
                            @if(shiro.hasPermission("/shop/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Shop.openShopDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="ShopTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/business/shop/shop.js"></script>
@}
