@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>定时任务管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                       <div class="row">
                       </div>
                        <div class="hidden-xs" id="JobAndTriggerTableToolbar" role="group">
                            @if(shiro.hasPermission("/job/toAdd")){
                            <#button name="添加" icon="fa-plus" clickFun="JobAndTrigger.openAddJob()"/>
                            @}
                            @if(shiro.hasPermission("/job/toEdit")){
                            <#button name="修改" icon="fa-edit" clickFun="JobAndTrigger.openJobDetail()" space="true"/>
                            @}
                            
                            @if(shiro.hasPermission("/job/pauseJob")){
                            <#button name="暂停" icon="fa-warning" clickFun="JobAndTrigger.pauseJob()" space="true"/>
                            @}
                            
                            @if(shiro.hasPermission("/job/resumeJob")){
                            <#button name="恢复" icon="fa-check-circle" clickFun="JobAndTrigger.resumeJob()" space="true"/>
                           @}
                            
                           @if(shiro.hasPermission("/job/deleteJob")){
                            <#button name="删除" icon="fa-remove" clickFun="JobAndTrigger.deleteJob()" space="true"/>
                            @}
                            
                        </div>
                        <#table id="JobAndTriggerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/job/jobAndTrigger.js"></script>
@}
