@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>导出任务</h5>
                <#FormSlideToggle searchFormId="searchForm"/>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div id="searchForm">
                            <div class="row">
                                <div class="col-sm-3">
                                    <#NameCon id="fileCode" name="编号" />
                                </div>
                                <div class="col-sm-3">
                                    <#SelectCon id="status" name="状态" >
                                    <option value="">请选择</option>
                                    <option value="0">正在进行</option>
                                    <option value="1">已完成</option>
                                    <option value="2">导出异常</option>
                                   </#SelectCon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;padding-top: 20px">
                                    <#button name="搜索" icon="fa-search" clickFun="TempSoDownload.search()"/>
                                    <#button name="重置" icon="fa-search" clickFun="TempSoDownload.reset()" space="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TempSoDownloadTaskTableToolbar" role="group">
                                <#button name="下载" icon="fa-edit" clickFun="TempSoDownload.downloadCheckFile()" space="true"/>
                                <#button name="删除" icon="fa-trash" clickFun="TempSoDownload.delete()" space="true"/>
                        </div>
                        <#table id="TempSoDownloadTaskTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/business/myTask//tempSoDownload.js"></script>
@}
